body {
  margin: 0;
  padding: 0;
  background-color: #51546e;
  color: #e1f6fb;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  width: 1400px;
  margin: 0 auto;
  height: 75vh;
}

#site-title {
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  color: #3498db;
  font-weight: bold;
  animation: blink 3s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#site-subtitle {
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  color: #3498db;
  font-weight: bold;
}

#join-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#task-username {
  width: 400px;
  padding: 15px;
  border: 2px solid #3498db;
  border-radius: 15px;
  font-size: 16px;
  color: #333;
  background-color: #ff0f8ff;
  transition: border-color 0.3s;
}
#task-username: focus {
  border-color: #2980b9;
  outline: none;
}

.volume-icon {
  height: 20px;
  width: 20px;
}

#join-btn {
  background-color: #2594a58e;
  border: none;
  border-radius: 15px;
  color: #f5f6f7;
  font-display: bold;
  font-size: 22px;
  padding: 20px 30px;
  cursor: pointer;
}
#join-btn: hover {
  background-color: #1e7a8a;
}

#user-streams {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 1em;
  height: 100%;
}

.video-player {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.video-containers {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #3f4262;
  border-radius: 10px;
}

.user-uid {
  display: flex;
  align-items: center;
  column-gap: 1em;
  background-color: #1f1f1f8e;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 9999;
  margin: 0;
  font-size: 18px;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: center;
  column-gap: 1em;
  width: 100%;
  height: 100px;
}

.icon-wrapper {
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.control-icon {
  display: block;
  padding: 10px;
  background-color: #1f1f1f8e;
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

@media screen and (max-width: 1400px) {
  main {
    width: 90%;
    margin: 0 auto;
  }
}
